/* RESET */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* COMMON */

html{
    font-family: Whitney, Helvetica, Arial, sans-serif;
    font-size: 100%;
}


.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;

}
/* HEADER */
header{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-position: center;
    height: 300px;
}

.background{
    background-color: #f6f6f6;
    margin-bottom: -1%;
}

.up-bar{
    height: 50px;
}


button{
    padding: 8px;
    border-radius: 30px;
}

.up-items{
    flex-grow: 1;
}   

.dx{
    text-align: end;
}

.center{
    list-style-type: none;
    display: flex;
    color: white;
}

.menu{
    padding: 10px;
    font-size: .8em;
}

 /* banner */
.banner{
    height: 400px;
}

h1{
    padding-bottom: 10px;
}

.button2{
    color: white;
    background-color: #23272a;
}

.slide{
    height: 300px;
    color: white;
    width: 70%;
    text-align: center;
}

/* MAIN */
.wave{
    width: 100%;
    margin-bottom: -1%;
}

.wave-r{
    width: 100%;
    transform: rotate(180deg);
}

.main-layout{
    width: 100%;
    padding: 5% 20% 5% 20%;
    display: flex;
    justify-content: center;
}
.main-item{
    width: 400px;
}

.main-text{
    width: 30%; 

}

.screenshot{
    width: 100%;

}

.cta{
    background-image: url(../img/stars.svg);
    background-size: cover;
}

.b-cta{
    background-color: #7189da;
}

.comment{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;

}

.main-big-item{
    width: 600px;
    text-align: center;
    padding-left: 100px;
}

/* FOOTER */
.other{
    background-color: #23272a;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
}

.footer-p{
    height: 300px;
    width: 30%;
    padding-right: 10px;
}

.language{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.flag{
    height: 15px;
    padding-right: 5px;
}

.footer-s{
    height: 300px;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.footer-list{
    list-style-type: none;
    font-size: 12px;
}

.footer-list-item{
    padding-bottom: 10px;
    color: white;
}

.blu{
    color: #7289d9;
}

.white{
    color: white;
}

.credits{
    height: 50px;
    width: 100%;
    background-color: #23272a;
    border-top: #7189da solid 1px;
    padding-left: 18%;
    padding-right: 18%;
    display: flex;
    align-items: flex-end;
}

.icon{
    padding-top: 15px;
}

.green{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80%;
}

